.round-btn {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;

  &--red {
    background-color: red;
  }

  &--gray {
    background-color: gray;
  }

  &--yellow {
    background-color: bisque;
  }

  &--toRight {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}