.round-btn {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;

  &--red {
    background-color: red;
  }

  &--gray {
    background-color: gray;
  }

  &--yellow {
    background-color: bisque;
  }

  &--toRight {
    align-self: flex-end;
  }
}